.my-page {
    width: 100%;
    height: 100%;
}

.my-head {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(235, 238, 240);
    border-bottom: 1px solid rgb(210, 214, 216);
}

.my-content-container {
    position: absolute;
    top: 100px;
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
    background-color: rgb(235, 238, 240);
}

.my-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.my-grid {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 5px;
    background-color: white;
    box-shadow: -6px 6px 10px -7px rgba(0, 0, 0, 0.4);
}