html {
  background: #eeeeee;
}
.flag-pic {
  width: 30px;
  height: 20px;
}
.ship-pic {
  height: 175px;
  width: 100%;
  display: block;
  margin: auto;
  object-fit: cover !important;
  filter: gray;
  /* IE6-9 */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
}
.nav-tabs > li.active > a, .nav-tabs > li:active {
  background: #eeeeee !important;
  background: -webkit-linear-gradient(#fefefe, #eeeeee) !important;
  background: -o-linear-gradient(#fefefe, #eeeeee) !important;
  background: -moz-linear-gradient(#fefefe, #eeeeee) !important;
  background: linear-gradient(#fefefe, #eeeeee) !important;
  border-bottom-color: #eeeeee !important;
}